<div class="col-md-12">
  <div class="well">
    <h2 class="page-header">Manage Categories <%= link_to "New Category", new_admin_category_path, class:"btn btn-success" %> </h2>
    <table class="table table-striped">
      <tr>
        <th>Category Title</th>
        <th>Created At</th>
        <th>Actions</th>
      </tr>
      <% @categories.each do |category| %>
        <tr>
          <td><%= category.name %></td>
          <td><%= category.created_at.to_time.strftime('%B %e at %l:%M %p') %></td>
          <td>
            <%= link_to "Edit", edit_admin_category_path(category), class:"btn btn-primary" %>
            <%= link_to "Delete", admin_category_path(category), method: :delete, data: {confirm: 'Are you sure?'}, class:"btn btn-danger" %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
